<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fly-telegram Login</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
  <link rel="stylesheet" href="static/styles.css" />
</head>
<body>
  <div class="text-container">
    <div class="logo">FLY TG</div>
    <button class="login-button" type="submit" id="login-button">SET-UP</button>
    <div class="form-container">
      <form id="login-form">
        <input type="text" id="api-hash" class="form-input" placeholder="API Hash" required>
        <input type="text" id="api-id" class="form-input" placeholder="API ID" required>
        <input type="text" id="phone-number" class="form-input" placeholder="Phone Number" required>
      </form>
</div>
    <div class="popup-container" id="popup-container">
      <div class="popup" id="code-popup">
        <p>The confirmation code has been sent via Telegram bot</p>
        <input type="text" id="login-input" placeholder="Confirmation code">
      </div>
      <div class="popup" id="twofa-popup">
        <p>Two-factor authentication required</p>
        <input type="password" id="twofa-password" placeholder="twofa Password">
        <button id="twofa-submit">Submit</button>
      </div>
    </div>
  </div>
  <div class="notification-container" id="notification-container"></div>
  <script type="module" src="static/js/button.js"></script>
  <script type="module" src="static/js/notifications.js"></script>
  <script type="module" src="static/js/auth.js"></script>
  
  <script src="//cdn.jsdelivr.net/npm/eruda"></script>
  <script>eruda.init();</script>
  
</body>
</html>